<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verification Demo</title>
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&family=Sedan+SC&display=swap" rel="stylesheet">
  </head>
  <body class="px-4 pt-8">
<div class="flex justify-between">
      <div class="font-secondary text-purple text-lg">
      <p>Person under waaterfall</p>
      	<img src="demo4.jpg">
      </div>
      
      
      <div class="font-secondary text-purple text-lg">
      <p>The Double Towers</p>
      <img src="demo6.jpg">
      </div>
  
         <div class="font-secondary text-purple text-lg">

      <p>A lagoon</p>
      <img src="demo5.jpg">
      </div>

   </div>
   <div class="flex justify-between">
   <div class="font-secondary text-purple text-lg">
      <p>Wild waterfall without person</p>
      	<img src="demo4-mod.png">
      </div>
          <div class="font-secondary text-purple text-lg ">
      <p>A single tower</p>
      <img src="demo6-mod.png">
      </div>
            <div class="font-secondary text-purple text-lg">
      <p>Pirate Invasion!</p>
      <img src="demo5-mod.png">
      </div>
   </div>

	    
  </body>
</html>
